{% extends 'Layouts/layout_nav_bar.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<script src="https://www.desmos.com/api/v1.7/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>

<h1 id='titulo1' class="flex items-center text-5xl font-extrabold dark:text-black">Solución Gráfica<span> </span></h1>

<div id='concal' class="flex-container">
<div id="calculator" style="width: 60%; height: 500px;"></div>
</div>

<script>
  var elt = document.getElementById('calculator');
  var calculator = Desmos.GraphingCalculator(elt);
  calculator.setExpression({ id: 'graph1', latex: 'y=x^2' });
</script>

{% endblock %}