{% extends 'Layouts/layout_nav_bar.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h1 id='titulo1' class="flex items-center text-5xl font-extrabold dark:text-black">Metodos Numéricos<span class="bg-blue-100 text-blue-800 text-2xl font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-2">AN</span></h1>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div>
    <div>
        <i id='icono1' class="fa fa-chart-line">    Solución en grafica</i>
    </div>
    <div id='ilera1' class="flex">
        <form method="GET" action="{% url 'Grafica' %}">
        {% csrf_token %}
            <button class="boton-comun" style="margin: 15px;">Método Gráfico</button>
        </form>
    </div>
</div>

<div>
    <div>
        <i id='icono2' class="fa fa-calculator">    Solución de ecuaciones de una variable</i>
    </div>
    <div id='ilera2' class="flex">
    <form method="GET" action="{% url 'Regla Falsa' %}">
        {% csrf_token %}
      <button class="boton-comun" style="margin: 15px;">Regla Falsa</button>
    </form>
      <button class="boton-comun" style="margin: 15px;">Metodo</button>
      <button class="boton-comun" style="margin: 15px;">Metodo</button>
      <form method="GET" action="{% url 'incremental_search' %}">
        <button class="boton-comun" style="margin: 15px;">Busqueda incremental</button>
      </form>
      <form method="GET" action="{% url 'newton_rapshon' %}">
        <button class="boton-comun" style="margin: 15px;">Newton rapshon</button>
      </form>
    </div>
</div>

<div>
    <div>
        <i id='icono3' class="fa fa-sort-numeric-up">    Solución de sistemas de ecuaciones</i>
    </div>
    <div id='ilera3' class="flex">
      <button class="boton-comun" style="margin: 15px;">Metodo</button>
      <button class="boton-comun" style="margin: 15px;">Metodo</button>
      <button class="boton-comun" style="margin: 15px;">Metodo</button>
    </div>
</div>

<div>
    <div>
        <i id='icono4' class="fa fa-bolt">    Interpolación</i>
    </div>
    <div id='ilera4' class="flex">
      <button class="boton-comun" style="margin: 15px;">Botón 1</button>
      <button class="boton-comun" style="margin: 15px;">Botón 2</button>
      <button class="boton-comun" style="margin: 15px;">Botón 3</button>
    </div>
</div>
{% endblock %}