{% extends 'Layouts/layout_nav_bar.html' %}

{% block title %}Newton Rapshon{% endblock %}

{% block content %}

<style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
</style>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<div class="grid-container">
    <div class="grid-item">
      <div class="flex justify-center items-center">
        <form class="w-full max-w-lg" method="POST">
          {% csrf_token %}
          <div id="latex-preview"></div>

          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                Ecuación
              </label>
              <input name="latexinput" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="latex-input" type="text" placeholder="Ingresa código LaTeX" required>
              <p class="text-gray-600 text-xs italic">Ingresa texto en latex con una sola diagonal por etiqueta</p>
            </div>
          </div>

            <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                Valor inicial
              </label>
              <input name="ai" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="ai" type="number" step="0.01" placeholder="x0" required>
            </div>
          </div>


          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                Tolerancia
              </label>
              <input name="toleranciam" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="toleranciam" type="text" step="0.01" placeholder="tol" required>
            </div>
            <div class="w-full md:w-1/2 px-3">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                Iteraciones
              </label>
              <input name="iteracionm" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="iteracionm" type="number" placeholder="n" required>
            </div>
          </div>

          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-error">
                Tipo de Error
              </label>
              <div class="relative">
                <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="tipoe" name="tipoe" required>
                  <option>Decimales Correctos</option>
                  <option>Cifras Significativas</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                  <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/2 px-3 mt-4">
                <button class="bg-blue-400 hover:bg-blue-700 text-white font-bold py-1 px-4 w-32 h-12 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Calcular
                </button>
            </div>
          </div>
        </form>

    </div>
    </div>
    <div class="grid-item">
      {% if mensaje_m %}
      <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
        <p class="text-sm">{{ mensaje_m }}.</p>
      </div>
      {% endif %}

      <div class="my-div">
        <table class="styled-table">
            {{ html | safe }}
        </table>
      </div>
    </div>
      </div>
    </div>

<script>
          const latexInput = document.getElementById("latex-input");
          const latexPreview = document.getElementById("latex-preview");

          // Escucha los eventos de entrada de texto en el campo de entrada.
          latexInput.addEventListener("input", function() {
              // Obtiene el valor del campo de entrada.
              const latexCode = latexInput.value;

              // Actualiza el contenido del elemento de vista previa con LaTeX.
              latexPreview.innerHTML = `$$${latexCode}$$`;

              // Utiliza MathJax para procesar la vista previa LaTeX.
              MathJax.typesetPromise().then(() => {
                  MathJax.Hub.Queue(["Typeset", MathJax.Hub, latexPreview]);
              });
          });
      </script>
    <!-- Agrega más elementos aquí -->
</div>

{% endblock %}